<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">Main Page</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi consequatur culpa dolorem eveniet id in incidunt iure nesciunt officia officiis placeat porro quod repudiandae sequi, tenetur vitae. A accusamus commodi consectetur deserunt doloribus ea, et expedita fugit in modi non quam sed sit tempore ullam vel voluptas! Eius, odio?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi consequatur culpa dolorem eveniet id in incidunt iure nesciunt officia officiis placeat porro quod repudiandae sequi, tenetur vitae. A accusamus commodi consectetur deserunt doloribus ea, et expedita fugit in modi non quam sed sit tempore ullam vel voluptas! Eius, odio?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi consequatur culpa dolorem eveniet id in incidunt iure nesciunt officia officiis placeat porro quod repudiandae sequi, tenetur vitae. A accusamus commodi consectetur deserunt doloribus ea, et expedita fugit in modi non quam sed sit tempore ullam vel voluptas! Eius, odio?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi consequatur culpa dolorem eveniet id in incidunt iure nesciunt officia officiis placeat porro quod repudiandae sequi, tenetur vitae. A accusamus commodi consectetur deserunt doloribus ea, et expedita fugit in modi non quam sed sit tempore ullam vel voluptas! Eius, odio?</p>

  </div>


</div>
